* {
    padding: 0;
    margin: 0;
}
@keyframes rotate {
    100% { transform: rotate(360deg); }  /* задаем положение элемента в конце анимации - поворот элемента на заданный угол относительно точки трансформации */
}
.wrap {
    width: 200px;
    height: 150px;
    outline: 1px solid #000;
    display: inline-block;
    margin: 35px 50px;
}
.wrap > div {
    width: 200px;
    height: 150px;
    background: rgba(144, 235, 242, 0.5);
    display: inline-block;
    position: relative;
    z-index: 2;
    animation: rotate 6s linear infinite; /* имя анимации | продолжительность анимации 6 сек | еффект перехода с одинаковой скоростью от начала до конца | бесконечная продожительность  */
}
.wrap > div > span {
    position: absolute;
    top:45%;
    width: 100%;
    text-align: center;
}
.element-1 {
    transform-origin: 50% 50%; /* устанавливаем координаты точки, относительно которой будет происходить трансформация элемента - по центру */
}
.element-2 {
    transform-origin: top left;/* устанавливаем координаты точки, относительно которой будет происходить трансформация элемента - верхий левый угол */
}
.element-3 {
    transform-origin: 100% 0%;/* устанавливаем координаты точки, относительно которой будет происходить трансформация элемента - верхний правый угол */
}
.element-4 {
    transform-origin: 50px 50px;/* устанавливаем координаты точки, относительно которой будет происходить трансформация элемента - по 50px от левого и верхнего края елемента*/
}